.home-headline {
    background-color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
}

.home-headline h2 {
    color: var(--primary-color);
    text-align: center;
    padding: 1.875rem 0 1.875rem 0;
}