.shop-headline {
    background-color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
}

.shop-headline h2 {
    color: var(--primary-color);
    text-align: center;
    padding: 1.875rem 0 1.875rem 0;
}

.shop {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card {
    margin: 1rem 0rem;
    padding: 1rem 1.5rem;
    background-color: var(--special-color-2);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    cursor: pointer;
}
